<!doctype html>
<html lang="es">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.golfmode.es/static/apple-touch-icon.png">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Golf Mode{% endblock %}</title>

  <!-- Montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/styles.css?v=15" />
  {% block head_extra %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <main class="container {% block container_class %}{% endblock %}">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
  {% block body_extra %}{% endblock %}
</body>
</html>
